<ion-progress-bar *ngIf="load" class="app-indeterminate" color="warning" type="indeterminate"></ion-progress-bar>

<ion-header>
  <ion-toolbar>
    <ion-grid class="app-grid">
      <ion-row>
        <ion-col size="1">
          <p class="p-ultra" style="color: #f5933b; margin-top: 15px;" (click)="back()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="10" class="ion-text-center">
          <img src="../../../assets/img/jimbo.png" class="app-profile-logo" />
        </ion-col>
        <ion-col size="1">
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner name="crescent" color="warning" *ngIf="load" class="app-spinner"></ion-spinner>

  <ion-grid class="app-grid" style="padding-left: 20px; padding-right: 20px;">
    
    <ion-row style="margin-top: 10px; margin-bottom: 10px;" *ngIf="!load">
      <ion-col size="12">
        <p class="p-normal" style="color: rgb(52,74,152); font-weight: bold;">Cuentas de cobro:</p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px; margin-bottom: 10px;">
      <ion-col size="12">
        <p class="p-info" style="color: #666666;">
          <span *ngIf="load">Cargando cuentas de cobro  ...</span>
          <span *ngIf="!load && accounts.length">Se encontraron {{ accounts.length }} cuentas registradas</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!load && !accounts.length" style="margin-top: 50px;">
      <ion-col size="12" class="ion-text-center">
        <p class="p-normal" style="font-size: 50px !important;">
          <ion-icon name="alert-outline"></ion-icon>
        </p>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p class="p-normal">No tienes cuentas de cobro regsitradas</p>
      </ion-col>
    </ion-row>

    <ion-row style="height: auto; border-top: 1px solid #f4f5f8; padding-top: 5px;" *ngFor="let item of accounts" (click)="setAccount(item)">
      <ion-col size="11" class="ion-text-left">
        <p class="p-normal" style="font-weight: bold; padding-top: 5px;">{{ item.bank }}</p>
        <p class="p-info" style="font-weight: normal; padding-top: 5px;">{{ item.number }}</p>
      </ion-col>
      <ion-col size="1" class="ion-text-right">
        <p class="p-title" style="font-weight: bold; padding-top: 15px;">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px; margin-bottom: 10px;" (click)="routes('beads/add')" *ngIf="!load">
      <ion-col size="12" class="ion-text-center">
        <p class="p-info" style="color: #f5933b;">Agregar una cuenta de cobro</p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px; margin-bottom: 10px;" *ngIf="!load && request.length">
      
      <ion-col size="12">
        <p class="p-normal" style="color: rgb(52,74,152); font-weight: bold;">Solicitudes pendientes:</p>
      </ion-col>

      <ion-col size="12" *ngFor="">
        <p class="p-normal" style="color: rgb(52,74,152); font-weight: bold;">Solicitudes pendientes:</p>
      </ion-col>


    </ion-row>

    <br />
    <br />

  </ion-grid>

</ion-content>
