<ion-content>

<ion-menu contentId="main-content">
  
  <ion-header class="ion-no-border" style="--background: #FFFFFF;">
    <ion-toolbar style="--background: #FFFFFF;">
      <ion-grid class="app-grid">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="10" class="ion-text-center">
            <img src="../../../assets/img/jimbo.png" style="width: 100%;" class="app-profile-logo" />
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
    <ion-grid class="app-grid">
      
      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('home')"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="home-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Inicio</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        display: none;
      "
      (click)="routes('profile/account')"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="person-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Mis datos</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('histories')"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="list-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Pagos</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('balances')"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="cash-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Balance</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('shoppings')"
      *ngIf="profile.seller == false"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="cart-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Mis compras</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('sales')"
      *ngIf="profile.become_seller == true || profile.seller == true"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="cart-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Mis ventas</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('methods')"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="card-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Métodos de pago</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('beads')"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="cash-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Cuentas de retiro</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('beads-request')"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="cloud-download-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Solicitudes de retiro</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('refer')"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="share-social-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Jibs Gratis</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('seller')"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="people-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">¿Quieres vender con nosotros?</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      >
        <ion-col size="1">
          <a target="_blank" href="https://wa.me/+51933504839" style="text-decoration: none; color: #f5933b;">
            <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
              <ion-icon name="headset-outline"></ion-icon>
            </p>
          </a>
        </ion-col>
        <ion-col size="11">
          <a target="_blank" href="https://wa.me/+51933504839" style="text-decoration: none; color: #000000;">
            <p class="p-normal" style="padding-top: 0px;">Contactar a soporte</p>
          </a>
        </ion-col>
      </ion-row>

      <ion-row style="
        border-bottom: solid 1px #eeeeee;
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="routes('policies')"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="information-circle-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Información legal</p>
        </ion-col>
      </ion-row>

      <ion-row style="
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
      "
      (click)="logout()"
      >
        <ion-col size="1">
          <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
            <ion-icon name="log-out-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="11">
          <p class="p-normal" style="padding-top: 0px;">Cerrar sesión</p>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-content>

</ion-menu>

<div class="ion-page" id="main-content"></div>

<ion-content class="">

  <app-top></app-top>

  <app-head></app-head>

  <app-menu [active]="'profile'"></app-menu>

  <ion-spinner name="crescent" color="warning" *ngIf="load" class="app-spinner"></ion-spinner>

  <div class="app-head">
    <ion-grid style="padding: 20px;">
      
      <ion-row>
        <ion-col size="12" class="" style="padding: 0px;">
          <ion-row>
            <ion-col size="2">
              <p class="p-super" style="font-weight: normal; padding-top: 0px;">
                <img [src]="profile.image" class="app-profile-avatar" />
              </p>
            </ion-col>
            <ion-col size="8" class="ion-text-left" style="padding: 0px;">
              <p class="p-title" style="padding-top: 0px;">{{ profile.names }}</p>
              <p class="p-info">{{ profile.email }}</p>
            </ion-col>
            <ion-col size="2" class="ion-text-center" style="padding: 0px;">
              <p class="app-head-button">
                <ion-menu-toggle> 
                  <ion-icon name="options-outline" style="cursor: pointer;"></ion-icon>
                </ion-menu-toggle>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" class="ion-text-left" style="padding: 0px;">
              <p class="p-normal" style="font-weight: bold;">
                {{ profile.level }}
              </p>
            </ion-col>
            <ion-col size="4" class="ion-text-right" style="padding: 0px;">
              <ion-badge color="success" style="
              font-size: 10px;
              padding: 5px;
              padding-left: 15px;
              padding-right: 15px;"
              >{{ profile.status }}</ion-badge>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3" class="ion-text-left" style="padding: 0px;"></ion-col>
      </ion-row>

      <ion-row style="padding-top: 10px; padding-bottom: 15px;">

        <ion-col size="12" class="ion-text-left">
          <p class="p-normal" style="padding-top: 0px; font-weight: bold;">Balance</p>
        </ion-col>

        <ion-col [size]="(profile.become_seller == true && profile.seller == false) ? 6 : 4" class="ion-text-center">
          <ion-card class="app-card">
            <ion-card-content>
              <p class="p-info" style="padding-top: 0px; color: rgb(52,74,152);">MI JIB</p>
              <p class="p-info" style="padding-top: 0px; font-weight: bold; color: #f5933b;">{{ profile.jib }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <ion-col [size]="(profile.become_seller == true && profile.seller == false) ? 6 : 4" class="ion-text-center">
          <ion-card class="app-card">
            <ion-card-content>
              <p class="p-info" style="padding-top: 0px; color: rgb(52,74,152);">EFECTIVO</p>
              <p class="p-info" style="padding-top: 0px; font-weight: bold; color: #f5933b;">{{ profile.usd }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col [size]="(profile.become_seller == true && profile.seller == false) ? 6 : 4" class="ion-text-center" *ngIf="profile.seller == false">
          <ion-card class="app-card">
            <ion-card-content>
              <p class="p-info" style="padding-top: 0px; color: rgb(52,74,152);">COMPRAS</p>
              <p class="p-info" style="padding-top: 0px; font-weight: bold; color: #f5933b;">{{ profile.amount_shopping }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col [size]="(profile.become_seller == true && profile.seller == true) ? 4 : 6" class="ion-text-center" *ngIf="profile.become_seller == true || profile.seller == true">
          <ion-card class="app-card">
            <ion-card-content>
              <p class="p-info" style="padding-top: 0px; color: rgb(52,74,152);">VENTAS</p>
              <p class="p-info" style="padding-top: 0px; font-weight: bold; color: #f5933b;">{{ profile.amount_sale }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
  
      </ion-row>

      <ion-row>

        <ion-col size="6" class="ion-text-center">
          <ion-button mode="ios" color="warning" fill="outline" (click)="routes('profile/edit')" style="height: 30px; font-size: 12px; width: 100%;">
            <ion-icon name="create-outline" style="position: relative; top: -1px;"></ion-icon>&nbsp;&nbsp;Editar perfil
          </ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center">
          <ion-button mode="ios" color="warning" fill="outline" (click)="routes('refer')" style="height: 30px; font-size: 12px; width: 100%;">
            <ion-icon name="share-social-outline" style="position: relative; top: -1px;"></ion-icon>&nbsp;&nbsp;Comparte y gana
          </ion-button>
        </ion-col>

        <ion-col size="12" class="ion-text-center" *ngIf="profile.become_seller == true || profile.seller == true" (click)="routes('ranking')">
          <ion-button mode="ios" color="warning" fill="outline" (click)="routes('profile/edit')" style="height: 30px; font-size: 12px; width: 100%;">
            <ion-icon name="shirt-outline" style="position: relative; top: -1px;"></ion-icon>&nbsp;&nbsp;Ranking general de vendedores
          </ion-button>
        </ion-col>
  
      </ion-row>

      <ion-row>

        <ion-col size="12" *ngIf="profile.seller == false">
          <ion-card class="app-card" style="background: #FFFFFF; border: none;">
            <ion-card-content>
              <canvas #myShoppingChart></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" *ngIf="profile.seller == true || profile.become_seller == true">
          <ion-card class="app-card" style="background: #FFFFFF; border: none;">
            <ion-card-content>
              <canvas #mySalesChart></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
  
      </ion-row>

      <ion-row *ngIf="!load">
        
        <ion-col size="12">
          <p class="p-normal" style="color: rgb(52,74,152); font-weight: bold;">
            Invitados: {{ profile.guests_month }}
          </p>
        </ion-col>

        <ion-col size="12" class="ion-text-center"  *ngIf="!profile.guests_list.length">
          <p class="p-normal">Parece que no no tienes invitados todavía</p>
        </ion-col>

        <ion-col size="12" class="ion-text-center"  *ngFor="let item of profile.guests_list">

          <ion-row style="height: auto; border-top: 1px solid #f4f5f8; padding-top: 5px;">
            <ion-col size="12" class="ion-text-left">
              <ion-row>
                <ion-col size="2">
                  <p class="p-super" style="font-weight: normal; padding-top: 0px;">
                    <img [src]="item.image" style="width: 30px;" />
                  </p>
                </ion-col>
                <ion-col size="8">
                  <p class="p-normal" style="font-weight: normal; padding-top: 0px;">{{ item.fullnames }}</p>
                  <p class="p-info" style="font-weight: normal; padding-top: 0px; font-size: 8px !important;">
                    {{ item.email }}
                  </p>
                </ion-col>
                <ion-col size="2" class="ion-text-right">
                  <p class="p-super" style="font-weight: normal; padding-top: 0px;">
                    <img [src]="item.country.icon" style="width: 30px;" />
                  </p>
                </ion-col>
              </ion-row>
            </ion-col>
              
          </ion-row>

        </ion-col>
        
      </ion-row>

      <br />
      <br />
      <br />

    </ion-grid>
  </div>

</ion-content>
