
ion-header { background: #FFFFFF; }
ion-toolbar { --background: #FFFFFF; }

.app-profile-avatar {
  margin: auto;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.app-profile-avatar-button {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #f5933b;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  padding-top: 6px;
  position: relative;
  bottom: -75px;
  right: -70px;
}

.app-profile-logo {
  width: 150px;
}

.app-head {
    width: 100%;
    height: auto;
    //background: #FFFFFF;
}

.app-head-button {
    margin: auto;
    padding: 0px;
    color: #f5933b;
    font-size: 25px !important;
    font-weight: bold;
    padding-top: 0px;
}

.app-card {
    margin: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: solid 1px #d7d8da;
    background: #f4f4f4;
    padding: 0px;
}

.app-card ion-card-content {
    padding: 5px;
}
  