.app-head {
  width: 100%;
  height: auto;
  background: #FFFFFF;
}

.app-head-button {
  margin: auto;
  padding: 0px;
  color: #344a98;
  font-size: 30px !important;
  font-weight: bold;
  padding-top: 5px;
}

.app-head-logo {
  width: 150px;
}