<ion-header>
  <ion-toolbar>
    <ion-grid class="app-grid">
      <ion-row>
        <ion-col size="1">
          <p class="p-ultra" style="color: #f5933b; margin-top: 15px;" (click)="routes('profile/account')">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="10" class="ion-text-center">
          <img src="../../../assets/img/jimbo.png" class="app-profile-logo" />
        </ion-col>
        <ion-col size="1">
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner name="crescent" color="warning" *ngIf="load" class="app-spinner"></ion-spinner>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <p class="p-title" style="color: rgb(52,74,152);">
          Forma parte de la comunidad de vendedores más grande de
        </p>
        <p class="p-ultra" style="color: rgb(52,74,152);">
          <b>Perú y Ecuador</b>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-banners></app-banners>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <p class="p-title" style="color: rgb(52,74,152);">
          Aplica ya como vendedor Jimbo
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="padding-left: 10px; padding-right: 10px;">

    <ion-row>
      <ion-col size="12">
        <p class="p-info">Nombre:</p>
        <div class="form-input">
          <ion-input
            [disabled]="true"
            [(ngModel)]="form.names"
            (ionFocus)="validate('names')"
            (ionChange)="validate('names')"
            type="text"
            class="app-input"
            placeholder="Nombre"
          ></ion-input>
        </div>
        <p class="app-input-error" *ngIf="errors.names">{{ errors.names }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p class="p-info">DNI:</p>
        <div class="form-input">
          <ion-input
            [disabled]="true"
            [(ngModel)]="form.dni"
            (ionFocus)="validate('dni')"
            (ionChange)="validate('dni')"
            type="text"
            class="app-input"
            placeholder="Correo"
          ></ion-input>
        </div>
        <p class="app-input-error" *ngIf="errors.dni">{{ errors.dni }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p class="p-info">Teléfono:</p>
        <div class="form-input">
          <img [src]="country.icon" style="width: 30px; margin-top: 14px; float: left;" *ngIf="country" slot="start" />
          <ion-input
            [disabled]="true"
            [(ngModel)]="form.phone"
            (ionFocus)="validate('phone')"
            (ionChange)="validate('phone')"
            type="text"
            class="app-input"
            placeholder="Teléfono"
            style="float: left; width: calc(100% - 35px); margin-left: 5px;"
          ></ion-input>
        </div>
        <p class="app-input-error" *ngIf="errors.phone">{{ errors.phone }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p class="p-info">Correo:</p>
        <div class="form-input">
          <ion-input
            [disabled]="true"
            [(ngModel)]="form.email"
            (ionFocus)="validate('email')"
            (ionChange)="validate('email')"
            type="text"
            class="app-input"
            placeholder="Documento"
          ></ion-input>
        </div>
        <p class="app-input-error" *ngIf="errors.email">{{ errors.email }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p class="p-info">Dirección:</p>
        <div class="form-input">
          <ion-input
            [disabled]="true"
            [(ngModel)]="form.address"
            (ionFocus)="validate('address')"
            (ionChange)="validate('address')"
            type="text"
            class="app-input"
            placeholder="Dirección"
          ></ion-input>
        </div>
        <p class="app-input-error" *ngIf="errors.address">{{ errors.address }}</p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <p class="p-info alert-danger">
          Una constancia de la operación será enviada en tu correo registrado en la aplicación; revisa en correo no deseado.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br />

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="ion-text-center"></ion-col>
        <ion-col size="8" class="ion-text-center">
          <ion-button [disabled]="load" (click)="sendData()" mode="ios" class="app-button-jimbo" shape="round" expand="full">Enviar</ion-button>
        </ion-col>
        <ion-col size="2" class="ion-text-center"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
