<ion-grid class="app-grid" style="padding-left: 10px; padding-right: 10px;">
  
  <ion-row *ngIf="!load">

    <ion-col size="12" *ngFor="let item of raffles">
      <ion-card class="app-card-raffles">
        <ion-card-content>
          
          <ion-row>
            <ion-col size="12">
              <img [src]="item.logo" class="img-raffles" alt="">
              <ion-icon [name]="item.favorite ? 'heart' : 'heart-outline'" style="
              position: absolute;
              top: 0px;
              right: 0px;
              color: #f5933b;
              font-size: 25px;
              cursor: pointer;
              " (click)="favoriteRaffles(item)"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button mode="ios" color="tertiary" expand="full" style="height: 30px; font-size: 12px;">Quedan {{ item.remaining_days }} días</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button mode="ios" color="warning" expand="full" style="height: 30px; font-size: 12px;">Premio {{ item.cash_to_draw }}</ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <p class="p-ultra" style="color: #92949c;">{{ item.title }}</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-button mode="ios" class="app-button-jimbo" shape="round" expand="full" (click)="openRaffles(item)">Participa</ion-button>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

  <ion-row *ngIf="load">
    
    <ion-col size="12" *ngFor="let item of [1, 2, 3]">
      <ion-card class="app-card-raffles">
        <ion-card-content>
          
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6">
              <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-skeleton-text animated style="width: 120px; height: 20px; margin: auto;"></ion-skeleton-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-skeleton-text animated style="width: 100%; height: 40px; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;"></ion-skeleton-text>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-grid>
