<div class="app-top">
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-left" style="padding: 0px;">
        <p class="p-normal" style="color: #FFFFFF; height: 100%; padding-top: 10px;"><b>MODO JIB</b></p>
      </ion-col>
      <ion-col size="8" class="ion-text-right" style="padding: 0px;">
        <ion-button class="app-button-top" mode="ios" (click)="routes('recharge')">
          <ion-icon src="../../../assets/icon/jib.svg" name="checkmark-outline"></ion-icon>&nbsp;&nbsp;Recarga
        </ion-button>
        <ion-button class="app-button-top" mode="ios" (click)="routes('refer')" style="">
          <ion-icon src="../../../assets/icon/jib.svg" name="checkmark-outline"></ion-icon>&nbsp;&nbsp;Gartis
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

