.app-top {
  width: 100%;
  height: auto;
  background: #f5933b;
}

.app-button-top {
  height: 25px !important;
  font-size: 12px;
  --background: #f1f1f1;
  color: #f5933b;
  height: 25px;
  --border-radius: 5px;
  min-width: 90px;
}