<ion-content>

  <br />
  <br />
  <br />

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <img src="../../assets/img/logo.png" class="app-logo" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <p class="p-ultra"><b>¡Bienvenidos a la mejor<br>aplicacion de sorteos!</b></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <p class="p-normal">Te invitamos a disfrutar de los mejores beneficios</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-button (click)="routes('login')" mode="ios" class="app-button-jimbo" shape="round" expand="full">Empezar</ion-button>
      </ion-col>
      <ion-col size="2" class="ion-text-center"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
