<ion-progress-bar *ngIf="load" class="app-indeterminate" color="warning" type="indeterminate"></ion-progress-bar>

<ion-header>
  <ion-toolbar>
    <ion-grid class="app-grid">
      <ion-row>
        <ion-col size="1">
          <p class="p-ultra" style="color: #f5933b; margin-top: 15px;" (click)="back()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="10" class="ion-text-center">
          <img src="../../../assets/img/jimbo.png" class="app-profile-logo" />
        </ion-col>
        <ion-col size="1">

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner name="crescent" color="warning" *ngIf="load" class="app-spinner"></ion-spinner>

  <ion-grid class="app-grid" style="padding-left: 10px; padding-right: 10px;">

    <ion-grid>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <p class="p-info">
            Completa los datos necesarios para configurar tu boleto
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <p class="p-info">Nombre:</p>
          <div class="form-input">
            <ion-input
              [disabled]="load"
              [(ngModel)]="form.name"
              (ionFocus)="validate('name')"
              (ionChange)="validate('name')"
              type="text"
              class="app-input"
              placeholder="Nombre"
            ></ion-input>
          </div>
          <p class="app-input-error" *ngIf="errors.name">{{ errors.name }}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <p class="p-info">DNI:</p>
          <div class="form-input">
            <ion-input
              [disabled]="load"
              [(ngModel)]="form.dni"
              (ionFocus)="validate('dni')"
              (ionChange)="validate('dni')"
              type="text"
              class="app-input"
              placeholder="DNI"
            ></ion-input>
          </div>
          <p class="app-input-error" *ngIf="errors.dni">{{ errors.dni }}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <p class="p-info">Teléfono:</p>
          <div class="form-input">
            <img [src]="country.icon" style="width: 30px; margin-top: 9px; float: left;" *ngIf="country" slot="start" (click)="openCountries()" />
            <ion-input
              [disabled]="load"
              [(ngModel)]="form.phone"
              (ionFocus)="validate('phone')"
              (ionChange)="validate('phone')"
              type="text"
              class="app-input"
              placeholder="Teléfono"
              style="float: left; width: calc(100% - 35px); margin-left: 5px;"
            ></ion-input>
          </div>
          <p class="app-input-error" *ngIf="errors.phone">{{ errors.phone }}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <p class="p-info">Correo:</p>
          <div class="form-input">
            <ion-input
              [disabled]="load"
              [(ngModel)]="form.email"
              (ionFocus)="validate('email')"
              (ionChange)="validate('email')"
              type="text"
              class="app-input"
              placeholder="Correo"
            ></ion-input>
          </div>
          <p class="app-input-error" *ngIf="errors.email">{{ errors.email }}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <p class="p-info">Dirección:</p>
          <div class="form-input">
            <ion-input
              [disabled]="load"
              [(ngModel)]="form.address"
              (ionFocus)="validate('address')"
              (ionChange)="validate('address')"
              type="text"
              class="app-input"
              placeholder="Dirección"
            ></ion-input>
          </div>
          <p class="app-input-error" *ngIf="errors.address">{{ errors.address }}</p>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-row style="display: none;">

      <ion-col size="12" *ngIf="raffles">
        <ion-card class="app-card-raffles">
          <ion-card-content>

            <ion-row>
              <ion-col size="12">
                <img [src]="raffles.logo" class="img-raffles" alt="">
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-button mode="ios" color="tertiary" expand="full" style="height: 30px; font-size: 12px;">Quedan {{ raffles.remaining_days }} días</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button mode="ios" color="warning" expand="full" style="height: 30px; font-size: 12px;">Premio {{ raffles.cash_to_draw }}</ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <p class="p-ultra" style="color: #92949c; font-weight: bold;">PRIMER PREMIO</p>
              </ion-col>
              <ion-col size="12" class="ion-text-center">
                <p class="p-ultra" style="color: #f5933b; font-weight: bold;">{{ raffles.cash_to_draw }}</p>
              </ion-col>
            </ion-row>

            <br />

            <ion-row style="height: auto;" *ngIf="!load">
              <ion-col size="6" class="ion-text-left">
                <p class="p-normal" style="color: #000000; font-weight: normal;">Código del boleto</p>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <p class="p-normal" style="font-weight: bold;">{{ raffles.promotion.code }}</p>
              </ion-col>
            </ion-row>

            <ion-row style="height: auto;" *ngIf="!load">
              <ion-col size="6" class="ion-text-left">
                <p class="p-normal" style="color: #000000; font-weight: normal;">Cantidad de boletos</p>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <p class="p-normal" style="font-weight: bold;">{{ raffles.promotion.quantity }}</p>
              </ion-col>
            </ion-row>

            <ion-row style="height: auto;" *ngIf="!load">
              <ion-col size="6" class="ion-text-left">
                <p class="p-normal" style="color: #000000; font-weight: normal;">Costo del boleto</p>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <p class="p-normal" style="font-weight: bold;">{{ raffles.promotion.price }}</p>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <br />
    <br />
    <br />

  </ion-grid>

</ion-content>

<ion-footer class="">
  <ion-toolbar>
    <ion-grid style="padding-left: 30px; padding-right: 30px;">
      <ion-row style="height: auto;" (click)="setMethod()">
        <ion-col size="2" class="ion-text-left">
          <img [src]="method.icon" style="width: 30px; height: 30px;" *ngIf="method.type != 'card'">
          <img [src]="method.icon" style="width: 60px; height: 30px;" *ngIf="method.type == 'card'">
        </ion-col>
        <ion-col size="9" class="ion-text-left">
          <p class="p-normal" style="font-weight: bold; padding-top: 5px;">{{ method.type == 'jib' ? profile.jib : method.name }}</p>
        </ion-col>
        <ion-col size="1" class="ion-text-right">
          <p class="p-normal" style="font-weight: bold; padding-top: 6px;">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="height: auto;" *ngIf="!load">
        <ion-col size="6" class="ion-text-left">
          <p class="p-normal" style="font-weight: bold;">TOTAL</p>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <p class="p-normal" style="font-weight: bold;">{{ raffles.promotion.price }}</p>
        </ion-col>
      </ion-row>
      <ion-row style="height: auto;" *ngIf="!load && method.type == 'jib'">
        <ion-col size="6" class="ion-text-left">
          <p class="p-normal" style="font-weight: bold;"></p>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <p class="p-normal" style="font-weight: bold;">{{ raffles.promotion.price_jib }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button [disabled]="load" (click)="alert ()" mode="ios" class="app-button-jimbo" shape="round" expand="full">Pagar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

