<ion-content>
  
  <ion-spinner name="crescent" color="warning" *ngIf="load" class="app-spinner"></ion-spinner>

  <app-top></app-top>

  <app-head></app-head>

  <app-menu [active]="'ajustes'"></app-menu>
  
  <ion-grid class="app-grid">

    <ion-row>

      <ion-col size="6" class="ion-text-center">
        <ion-card class="app-card-setting">
          <ion-card-content>
            <p class="p-ultra" style="padding-top: 0px; font-weight: bold;">{{ profile.jib }}</p>
            <p class="p-info" style="padding-top: 0px;">JIB</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <ion-card class="app-card-setting">
          <ion-card-content>
            <p class="p-ultra" style="padding-top: 0px; font-weight: bold;">${{ profile.usd }}</p>
            <p class="p-info" style="padding-top: 0px;">USD</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="app-card-setting">
          <ion-card-content>
            
            <ion-row style="
              border-bottom: solid 1px #eeeeee;
              padding-top: 5px;
              padding-bottom: 5px;
              cursor: pointer;
            "
            (click)="routes('profile')"
            >
              <ion-col size="1">
                <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
                  <ion-icon name="person-outline"></ion-icon>
                </p>
              </ion-col>
              <ion-col size="11">
                <p class="p-normal" style="padding-top: 0px;">Mis datos</p>
              </ion-col>
            </ion-row>

            <ion-row style="
              border-bottom: solid 1px #eeeeee;
              padding-top: 8px;
              padding-bottom: 5px;
              cursor: pointer;
              opacity: 0.5;
            "
            (click)="developing()"
            >
              <ion-col size="1">
                <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
                  <ion-icon name="cash-outline"></ion-icon>
                </p>
              </ion-col>
              <ion-col size="11">
                <p class="p-normal" style="padding-top: 0px;">Balance</p>
              </ion-col>
            </ion-row>

            <ion-row style="
              border-bottom: solid 1px #eeeeee;
              padding-top: 8px;
              padding-bottom: 5px;
              cursor: pointer;
              opacity: 0.5;
            "
            (click)="developing()"
            >
              <ion-col size="1">
                <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
                  <ion-icon name="cart-outline"></ion-icon>
                </p>
              </ion-col>
              <ion-col size="11">
                <p class="p-normal" style="padding-top: 0px;">Mis compras</p>
              </ion-col>
            </ion-row>

            <ion-row style="
              border-bottom: solid 1px #eeeeee;
              padding-top: 8px;
              padding-bottom: 5px;
              cursor: pointer;
              opacity: 0.5;
            "
            (click)="developing()"
            >
              <ion-col size="1">
                <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
                  <ion-icon name="card-outline"></ion-icon>
                </p>
              </ion-col>
              <ion-col size="11">
                <p class="p-normal" style="padding-top: 0px;">Métodos de pago</p>
              </ion-col>
            </ion-row>

            <ion-row style="
              border-bottom: solid 1px #eeeeee;
              padding-top: 8px;
              padding-bottom: 5px;
              cursor: pointer;
              opacity: 0.5;
            "
            (click)="developing()"
            >
              <ion-col size="1">
                <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
                  <ion-icon name="heart-outline"></ion-icon>
                </p>
              </ion-col>
              <ion-col size="11">
                <p class="p-normal" style="padding-top: 0px;">Mis favoritos</p>
              </ion-col>
            </ion-row>

            <ion-row style="
              border-bottom: solid 1px #eeeeee;
              padding-top: 8px;
              padding-bottom: 5px;
              cursor: pointer;
              opacity: 0.5;
            "
            (click)="developing()"
            >
              <ion-col size="1">
                <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
                  <ion-icon name="share-social-outline"></ion-icon>
                </p>
              </ion-col>
              <ion-col size="11">
                <p class="p-normal" style="padding-top: 0px;">Gana 10 JIB gratis</p>
              </ion-col>
            </ion-row>

            <ion-row style="
              border-bottom: solid 1px #eeeeee;
              padding-top: 8px;
              padding-bottom: 5px;
              cursor: pointer;
              opacity: 0.5;
            "
            (click)="developing()"
            >
              <ion-col size="1">
                <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
                  <ion-icon name="person-add-outline"></ion-icon>
                </p>
              </ion-col>
              <ion-col size="11">
                <p class="p-normal" style="padding-top: 0px;">¿Quieres vender con nosotros?</p>
              </ion-col>
            </ion-row>

            <ion-row style="
              border-bottom: solid 1px #eeeeee;
              padding-top: 8px;
              padding-bottom: 5px;
              cursor: pointer;
              opacity: 0.5;
            "
            (click)="developing()"
            >
              <ion-col size="1">
                <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
                  <ion-icon name="headset-outline"></ion-icon>
                </p>
              </ion-col>
              <ion-col size="11">
                <p class="p-normal" style="padding-top: 0px;">Contactar a soporte</p>
              </ion-col>
            </ion-row>

            <ion-row style="
              border-bottom: solid 1px #eeeeee;
              padding-top: 8px;
              padding-bottom: 5px;
              cursor: pointer;
              opacity: 0.5;
            "
            (click)="developing()"
            >
              <ion-col size="1">
                <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
                  <ion-icon name="information-circle-outline"></ion-icon>
                </p>
              </ion-col>
              <ion-col size="11">
                <p class="p-normal" style="padding-top: 0px;">Información legal</p>
              </ion-col>
            </ion-row>

            <ion-row style="
              padding-top: 8px;
              padding-bottom: 5px;
              cursor: pointer;
            "
            (click)="logout()"
            >
              <ion-col size="1">
                <p class="p-normal" style="padding-top: 0px; color: #f5933b; font-size: 14px !important;">
                  <ion-icon name="log-out-outline"></ion-icon>
                </p>
              </ion-col>
              <ion-col size="11">
                <p class="p-normal" style="padding-top: 0px;">Cerrar sesión</p>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
