<ion-progress-bar *ngIf="load" class="app-indeterminate" color="warning" type="indeterminate"></ion-progress-bar>

<ion-header>
  <ion-toolbar>
    <ion-grid class="app-grid">
      <ion-row>
        <ion-col size="1">
          <p class="p-ultra" style="color: #f5933b; margin-top: 15px;" (click)="back()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="10" class="ion-text-center">
          <img src="../../../assets/img/jimbo.png" class="app-profile-logo" />
        </ion-col>
        <ion-col size="1">
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner name="crescent" color="warning" *ngIf="load" class="app-spinner"></ion-spinner>

  <ion-grid class="app-grid" style="padding-left: 20px; padding-right: 20px;">
    
    <ion-row style="margin-top: 10px; margin-bottom: 10px;">
      <ion-col size="12">
        <p class="p-info" style="color: #666666;">
          <span *ngIf="load">Cargando movimientos  ...</span>
          <span *ngIf="!load && !balances.length">No tienes movimientos regsitradas</span>
          <span *ngIf="!load && balances.length">Se encontraron {{ balances.length }} movimientos</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px; margin-bottom: 10px;" *ngIf="!load">
      <ion-col size="12">
        <p class="p-normal" style="color: rgb(52,74,152); font-weight: bold;">Balance general:</p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px; margin-bottom: 10px;" *ngIf="!load">
      <ion-col size="6" class="ion-text-center">
        <ion-card class="app-card">
          <ion-card-content>
            <p class="p-info" style="color: rgb(52,74,152);">JIB Disponible</p>
            <p class="p-ultra" style="color: #f5933b;">{{ profile.jib }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-card class="app-card">
          <ion-card-content>
            <p class="p-info" style="color: rgb(52,74,152);">Efectivo disponible</p>
            <p class="p-ultra" style="color: #f5933b;">{{ profile.usd }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px; margin-bottom: 10px;" *ngIf="!load">
      
      <ion-col size="4" class="ion-text-center">
        <ion-fab-button class="fab-button" color="warning" style="margin: auto; margin-bottom: 5px;">
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </ion-fab-button>
        <p class="p-info" style="color: #000000;">Recargar</p>
      </ion-col>

      <ion-col size="4" class="ion-text-center">
        <ion-fab-button class="fab-button" color="warning" style="margin: auto; margin-bottom: 5px;">
          <ion-icon name="cloud-download-outline"></ion-icon>
        </ion-fab-button>
        <p class="p-info" style="color: #000000; margin-bottom: 5px;">Retirar</p>
      </ion-col>

      <ion-col size="4" class="ion-text-center">
        <ion-fab-button class="fab-button" color="warning" style="margin: auto; margin-bottom: 5px;">
          <ion-icon name="repeat-outline"></ion-icon>
        </ion-fab-button>
        <p class="p-info" style="color: #000000;">Cambiar</p>
      </ion-col>

    </ion-row>

    <ion-row style="margin-top: 10px; margin-bottom: 10px;" *ngIf="!load">
      <ion-col size="12">
        <p class="p-normal" style="color: rgb(52,74,152); font-weight: bold;">Movimientos:</p>
      </ion-col>
    </ion-row>

    <ion-row style="height: auto; border-top: 1px solid #f4f5f8; padding-top: 5px;" *ngFor="let item of balances">
      <ion-col size="12" class="ion-text-left">
        <ion-row>
          <ion-col size="8">
            <p class="p-normal" style="font-weight: bold; padding-top: 0px;">{{ item.balance }}</p>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <p class="p-info" style="font-weight: bold; padding-top: 0px; text-transform: uppercase;">
              {{ item.currency }}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <p class="p-info" style="font-weight: normal; padding-top: 0px;">
              {{ item.description }}
            </p>
          </ion-col>
          <ion-col size="4">
            <p class="p-info ion-text-right" style="font-weight: normal; padding-top: 0px;">{{ item.date }} {{ item.hour }}</p>
          </ion-col>
        </ion-row>
      </ion-col>
        
    </ion-row>

    <br />
    <br />
    <br />

  </ion-grid>

</ion-content>
