<ion-content>

  <ion-spinner name="crescent" color="warning" *ngIf="load" class="app-spinner"></ion-spinner>

  <br />

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <img src="../../assets/img/logo.png" class="app-logo" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <p class="p-ultra"><b>Crea una cuenta!</b></p>
        <p class="p-normal">Crea tu cuenta y empieza a ganar dinero con Jimbo</p>
      </ion-col>
      <ion-col size="2" class="ion-text-center"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center"></ion-col>
      <ion-col size="8">
        <ion-item
          [ngClass]="{ 'app-input-success': (touch.names && !errors.names), 'app-input-danger': (touch.names && errors.names) }"
        >
          <ion-input
            [disabled]="load"
            [(ngModel)]="form.names"
            (ionFocus)="validate('names')"
            (ionChange)="validate('names')"
            type="text"
            class="app-input"
            placeholder="Nombre"
          ></ion-input>
        </ion-item>
        <p class="app-input-error" *ngIf="errors.names">{{ errors.names }}</p>
      </ion-col>
      <ion-col size="2" class="ion-text-center"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center"></ion-col>
      <ion-col size="8">
        <ion-item
          [ngClass]="{ 'app-input-success': (touch.surnames && !errors.surnames), 'app-input-danger': (touch.surnames && errors.surnames) }"
        >
          <ion-input
            [disabled]="load"
            [(ngModel)]="form.surnames"
            (ionFocus)="validate('surnames')"
            (ionChange)="validate('surnames')"
            type="text"
            class="app-input"
            placeholder="Apellido"
          ></ion-input>
        </ion-item>
        <p class="app-input-error" *ngIf="errors.surnames">{{ errors.surnames }}</p>
      </ion-col>
      <ion-col size="2" class="ion-text-center"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center"></ion-col>
      <ion-col size="8">
        <ion-item
          [ngClass]="{ 'app-input-success': (touch.dni && !errors.dni), 'app-input-danger': (touch.dni && errors.dni) }"
        >
          <ion-input
            [disabled]="load"
            [(ngModel)]="form.dni"
            (ionFocus)="validate('dni')"
            (ionChange)="validate('dni')"
            type="text"
            class="app-input"
            placeholder="DNI"
          ></ion-input>
        </ion-item>
        <p class="app-input-error" *ngIf="errors.dni">{{ errors.dni }}</p>
      </ion-col>
      <ion-col size="2" class="ion-text-center"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center"></ion-col>
      <ion-col size="8">
        <ion-item
          [ngClass]="{ 'app-input-success': (touch.phone && !errors.phone), 'app-input-danger': (touch.phone && errors.phone) }"
        >
          <img [src]="country.icon" style="width: 30px;" *ngIf="country" slot="start" (click)="openCountries()" />
          <ion-input
            [disabled]="load"
            [(ngModel)]="form.phone"
            (ionFocus)="validate('phone')"
            (ionChange)="validate('phone')"
            type="number"
            class="app-input"
            placeholder="Teléfono"
          ></ion-input>
        </ion-item>
        <p class="app-input-error" *ngIf="errors.phone">{{ errors.phone }}</p>
      </ion-col>
      <ion-col size="2" class="ion-text-center"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center"></ion-col>
      <ion-col size="8">
        <ion-item
          [ngClass]="{ 'app-input-success': (touch.email && !errors.email), 'app-input-danger': (touch.email && errors.email) }"
        >
          <ion-input
            [disabled]="load"
            [(ngModel)]="form.email"
            (ionFocus)="validate('email')"
            (ionChange)="validate('email')"
            type="text"
            class="app-input"
            placeholder="Correo electrónico"
          ></ion-input>
        </ion-item>
        <p class="app-input-error" *ngIf="errors.email">{{ errors.email }}</p>
      </ion-col>
      <ion-col size="2" class="ion-text-center"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center"></ion-col>
      <ion-col size="8">
        <ion-item
          [ngClass]="{ 'app-input-success': (touch.password && !errors.password), 'app-input-danger': (touch.password && errors.password) }"
        >
          <ion-input
            [disabled]="load"
            [(ngModel)]="form.password"
            (ionFocus)="validate('password')"
            (ionChange)="validate('password')"
            [type]="show ? 'text' : 'password'"
            class="app-input"
            placeholder="Contraseña"
          ></ion-input>
          <ion-button
            [disabled]="load"
            color="dark"
            fill="outline"
            slot="end"
            (click)="password()"
            class="app-btn-input"
            mode="ios"
          >
            <ion-icon [name]="show ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
          </ion-button>
        </ion-item>
        <p class="app-input-error" *ngIf="errors.password">{{ errors.password }}</p>
      </ion-col>
      <ion-col size="2" class="ion-text-center"></ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-button [disabled]="load || disabled" (click)="continue()" mode="ios" class="app-button-jimbo" shape="round" expand="full">Registrar</ion-button>
      </ion-col>
      <ion-col size="2" class="ion-text-center"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid class="app-grid">
      <ion-col size="12" class="ion-text-center">
        <p class="p-normal">
          ¿Ya tienes una cuenta?&nbsp;&nbsp;<b class="app-signup" (click)="routes('login')">Iniciar sesión</b>
        </p>
      </ion-col>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
