<ion-progress-bar *ngIf="load" class="app-indeterminate" color="warning" type="indeterminate"></ion-progress-bar>

<ion-header>
  <ion-toolbar>
    <ion-grid class="app-grid">
      <ion-row>
        <ion-col size="1">
          <p class="p-ultra" style="color: #f5933b; margin-top: 15px;" (click)="routes('balances')">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="10" class="ion-text-center">
          <img src="../../../assets/img/jimbo.png" class="app-profile-logo" />
        </ion-col>
        <ion-col size="1">
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner name="crescent" color="warning" *ngIf="load" class="app-spinner"></ion-spinner>

  <ion-grid class="app-grid" style="padding-left: 20px; padding-right: 20px;">

    <ion-row style="margin-top: 10px; margin-bottom: 10px;" *ngIf="load">
      <ion-col size="12">
        <p class="p-info" style="color: #666666;">
          <span>Cargando configuración  ...</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px; margin-bottom: 10px;" *ngIf="!load">
      <ion-col size="12">
        <p class="p-normal" style="color: rgb(52,74,152); font-weight: bold;">Cambiar JIB por dinero:</p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 5px; margin-bottom: 10px;" *ngIf="!load">
      <ion-col size="6">
        <p class="p-normal" style="color: #000000; font-weight: bold; padding-top: 8px;">
          <ion-icon src="../../../assets/icon/jib.svg" style="font-size: 20px !important; position: relative; top: 4px;"></ion-icon> JIB disponibles
        </p>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <p class="p-normal" style="color: #000000; font-weight: bold; padding-top: 16px;">
          {{ profile.jib }}
        </p>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px; padding-bottom: 15px;">
      <ion-col size="12">
        <ion-card class="app-card">
          <ion-card-content>
            <ion-row>

              <ion-col size="12" style="border-bottom: solid 1px #EEEEEE;">
                <p class="p-info" style="padding-top: 0px; color: rgb(52,74,152);">Simulación:</p>
              </ion-col>

              <ion-col size="5" class="ion-text-center">
                <p class="p-info" style="padding-top: 0px; color: #666666;">
                  JIB
                </p>
                <p class="p-title" style="padding-top: 0px; color: #000000;">
                  {{ amount }}
                </p>
              </ion-col>

              <ion-col size="2" class="ion-text-center">
                <p class="p-title" style="padding-top: 0px;">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </p>
              </ion-col>

              <ion-col size="5" class="ion-text-center">
                <p class="p-info" style="padding-top: 0px; color: #666666;">
                  EFECTIVO (USD)
                </p>
                <p class="p-title" style="padding-top: 0px; color: #000000;">
                  ${{ usd }}
                </p>
              </ion-col>

              <ion-col size="2" class="ion-text-center">
                <p class="p-info" style="padding-top: 21px; color: #000000; font-size: 8px !important;">
                  Minimo
                </p>
              </ion-col>

              <ion-col size="8" class="ion-text-center">
                <ion-range [min]="min" [max]="max" [disabled]="load" (ionChange)="setAmount($event)"></ion-range>
              </ion-col>

              <ion-col size="2" class="ion-text-center">
                <p class="p-info" style="padding-top: 21px; color: #000000; font-size: 8px !important;">
                  Máximo
                </p>
              </ion-col>

            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="">
  <ion-toolbar>
    <ion-grid style="padding-left: 30px; padding-right: 30px;">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button [disabled]="load || amount < min" (click)="alert()" mode="ios" class="app-button-jimbo" shape="round" expand="full">Canjear</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
