
.app-card-raffles {
  margin: 0px;
  margin-bottom: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: solid 1px #eeeeee;
}

.app-card-raffles ion-card-content {
  padding: 10px;
  background: #f4f5f87d;
}

.img-raffles {
  margin: auto;
  width: 100%;
}