<ion-content>
  
  <app-top></app-top>

  <app-head></app-head>

  <app-menu [active]="'ganadores'"></app-menu>
  
  <ion-grid class="app-grid" style="padding-left: 10px; padding-right: 10px;">
  
    <ion-row *ngIf="!load">
  
      <ion-col size="12" *ngFor="let item of winners">
        <ion-card class="app-card-raffles">
          <ion-card-content>
            
            <ion-row>
              <ion-col size="12">
                <img [src]="item.logo" class="img-raffles" alt="">
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <p class="p-ultra" style="color: #92949c;">PREMIO <b style="color: #f5933b;">{{ item.cash_to_draw }}</b></p>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col size="6">
                <ion-button mode="ios" color="tertiary" expand="full" style="height: 30px; font-size: 12px;">Hace {{ item.days_ago }} días</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button mode="ios" color="warning" expand="full" style="height: 30px; font-size: 12px;" (click)="setRaffle(item)">Ver ganador</ion-button>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="item.id == show">
              <ion-col size="12" *ngFor="let winner of item.winners">

                <ion-row style="height: auto; border-top: 1px solid #f4f5f8; padding-top: 5px;" >
      
                  <ion-col size="12" class="ion-text-left">
                    <ion-row>
                      <ion-col size="2">
                        <p class="p-super" style="font-weight: normal; padding-top: 0px;">
                          <img [src]="winner.image" style="width: 30px;" />
                        </p>
                      </ion-col>
                      <ion-col size="6">
                        <p class="p-info" style="font-weight: bold; padding-top: 0px;">
                          {{ winner.name }}
                        </p>
                        <p class="p-normal" style="font-weight: normal; padding-top: 0px;">
                          {{ winner.country.name }}
                        </p>
                      </ion-col>
                      <ion-col size="4">
                        <p class="p-info ion-text-right" style="font-weight: normal; padding-top: 0px;">{{ winner.amount }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                    
                </ion-row>

              </ion-col>
            </ion-row>
  
          </ion-card-content>
        </ion-card>
      </ion-col>
  
    </ion-row>

    <ion-row *ngIf="!load && !winners.length" style="margin-top: 50px;">
      <ion-col size="12" class="ion-text-center">
        <p class="p-normal" style="font-size: 50px !important;">
          <ion-icon name="alert-outline"></ion-icon>
        </p>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p class="p-normal">No se encontraron registros de ganadores</p>
      </ion-col>
    </ion-row>
  
    <ion-row *ngIf="load">
      
      <ion-col size="12" *ngFor="let item of [1, 2, 3]">
        <ion-card class="app-card-raffles">
          <ion-card-content>
            
            <ion-row>
              <ion-col size="12">
                <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
  
  
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-skeleton-text animated style="width: 120px; height: 20px; margin: auto;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col size="6">
                <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
              </ion-col>
              <ion-col size="6">
                <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
  
          </ion-card-content>
        </ion-card>
      </ion-col>
  
    </ion-row>
  
  </ion-grid>

  <br />
  <br />

</ion-content>
