ion-content {
  --background: transparent;
  text-align: center;
}

.app-modal-alert {
  width: 320px;
  height: auto;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 160px);
  background: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}