.app-menu {
  width: 100%;
  height: auto;
  background: #f1f1f1;
}

.app-menu-button {
  margin: auto;
  padding: 0px;
  color: #666666;
  font-size: 30px !important;
  font-weight: bold;
  padding-top: 5px;
  cursor: pointer;
  height: 35px;
}

.app-menu-title {
  margin: auto;
  padding: 0px;
  color: #666666;
  font-size: 8px !important;
  padding-top: 5px;
  cursor: pointer;
  height: 30px;
}
