<div class="app-menu">
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="ion-text-center" style="padding: 0px;">
        <p class="app-menu-button">
          <ion-icon name="home-outline"></ion-icon>
        </p>
        <p class="app-menu-title">
          Inicio
        </p>
      </ion-col>
      <ion-col size="3" class="ion-text-center" style="padding: 0px;">
        <p class="app-menu-button">
          <ion-icon name="ribbon-outline"></ion-icon>
        </p>
        <p class="app-menu-title">
          Ganadores
        </p>
      </ion-col>
      <ion-col size="3" class="ion-text-center" style="padding: 0px;">
        <p class="app-menu-button">
          <ion-icon name="compass-outline"></ion-icon>
        </p>
        <p class="app-menu-title">
          Ruleta
        </p>
      </ion-col>
      <ion-col size="3" class="ion-text-center" style="padding: 0px;">
        <p class="app-menu-button">
          <ion-icon name="options-outline"></ion-icon>
        </p>
        <p class="app-menu-title">
          Ajustes
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
