<ion-progress-bar *ngIf="load" class="app-indeterminate" color="warning" type="indeterminate"></ion-progress-bar>

<ion-header>
  <ion-toolbar>
    <ion-grid class="app-grid">
      <ion-row>
        <ion-col size="1">
          <p class="p-ultra" style="color: #f5933b; margin-top: 15px;" (click)="back()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="10" class="ion-text-center">
          <img src="../../../assets/img/jimbo.png" class="app-profile-logo" />
        </ion-col>
        <ion-col size="1">
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner name="crescent" color="warning" *ngIf="load" class="app-spinner"></ion-spinner>

  <ion-grid class="app-grid" style="padding-left: 20px; padding-right: 20px;">
    
    <ion-row style="margin-top: 10px; margin-bottom: 10px;">
      <ion-col size="12">
        <p class="p-info" style="color: #666666;">
          <span *ngIf="load">Cargando movimientos  ...</span>
          <span *ngIf="!load && !shoppings.length">No tienes compras regsitradas</span>
          <span *ngIf="!load && shoppings.length">Se encontraron {{ shoppings.length }} compras</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of shoppings">

      <ion-col size="12" >
        <ion-card class="app-card-raffles">
          <ion-card-content>
  
            <ion-row>
              <ion-col size="6">
                <p class="p-normal" style="font-weight: bold; color: #344a98;">BOLETO</p>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <p class="p-normal">${{ item.amount }}</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <p class="p-normal">Código de boleto</p>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <p class="p-normal">{{ item.number }}</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <p class="p-normal">Fecha de compra</p>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <p class="p-normal">{{ item.created_at.substr(0,10) }}</p>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-button mode="ios" class="app-button-jimbo" shape="round" expand="full" (click)="setSale(item)">Ver detalle</ion-button>
              </ion-col>
            </ion-row>
  
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

  <br />
  <br />
  <br />

</ion-content>
